footer {
  background-color: $secondary-color;
  color: $darkmode-text-color;
  padding: 25px 0;

  @include media('>=desktop') {
    padding: 50px 0;
  }

  .container {
    align-items: center;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-between;

    @include media('>=desktop') {
      align-items: center;
      flex-direction: row;
    }

    > * {
      flex: 1;
    }
  }

  .footer-navigation-container {
    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .menu-item {
        font: font('primary', 'small');
        margin: 0;
        padding: 0;
        text-align: center;

        @include media('>=desktop') {
          text-align: left;
        }

        a {
          @extend .darkmode;
          display: inline-block;
        }

        &.current-menu-item {
          a {
            color: $darkmode-text-color;
            font: font('primary', 'small', 'bold');
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-logo-container {
    text-align: center;

    @include media('>=desktop') {
      order: 3;
      text-align: right;
    }

    a {
      display: inline-block;
      vertical-align: middle;

      img {
        display: block;
        max-height: 75px;
        max-width: 200px;

        @include media('<desktop') {
          margin: 0 auto;
        }
      }
    }
  }

  .footer-notice {
    font: font('primary', 'small');
    text-align: center;

    @include media('>=desktop') {
      order: 2;
    }

    .copyright {
      margin: 0;
    }
  }

  .fivefifteen {
    text-align: center;

    a {
      display: inline-block;

      &:hover {
        cursor: crosshair;

        img {
          opacity: 1;
        }
      }

      img {
        display: block;
        height: auto;
        margin: 1rem auto;
        opacity: .5;
        transition: opacity 0.25s ease-in-out;
        width: 150px;
      }
    }
  }
}